@import url('https://fonts.googleapis.com/css?family=Cabin|Lobster|Barlow|Kreon:700');
h1, h2, h3, h4, h5, h6, p, li {
  font-family: Barlow;
}

#title {
  font-family: Kreon;
  letter-spacing: 200%;
  display: block;
  font-size: 300%;
  line-height: 90%;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url(/class-photo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header h1 {
  display: block;
  max-width: 750px;
  text-align: center;
  color: white;
  font-size: 400%;
  margin-top: 0;
}

.five a {
  font-size: 3em;
  text-decoration: none;
  color: red;
  -webkit-text-stroke: 2px black;
}

.five {
  background-image: url(https://i.imgur.com/wdC1Jzk.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  vertical-align: middle;
  font-family: 'Lobster', cursive;
  color: red;
  -webkit-text-stroke: 2px black;
  user-select: none;
  display: flex;
}

.five:hover {
  opacity: .5
}

.five img {
  height: 75px;
  border-radius: 40px;
}

.subfive {
  margin: auto;
}



.content>div:nth-child(12) {
  background: crimson;
}

.content {
  padding-left:1em;
  padding-top:1em;
}



@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink-caret {
  50% {
    border-color: transparent;
  }
}

#me {
  animation: colorchange 10s infinite;
  -webkit-animation: colorchange 15s infinite;
  background-size: cover;
  -moz-box-shadow: inset 0 0 280px #000000;
  -webkit-box-shadow: inset 0 0 280px #000000;
  box-shadow: inset 0 0 280px #000000;
}

@keyframes colorchange {
  0% {
    background: Baby Blue
  }
  25% {
    background: Blood Orange
  }
  50% {
    background: Blue-Gray;
  }
  75% {
    background: Violet;
  }
  100% {
    background: Aqua;
  }
}

@-webkit-keyframes colorchange {
  0% {
    background: Baby Blue;
  }
  25% {
    background: Blood Orange;
  }
  50% {
    background: Blue-Gray;
  }
  75% {
    background: Violet;
  }
  100% {
    background: Aqua;
  }
}


#Fa {
  font-size: 30px;
  color: black;
}

#Fr:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

#Fr {
  font-size: 30px;
  color: black;
}

#Fa:hover {
  -webkit-animation: bounce 1s;
  animation: bounce 1s;
}

@font-face {
  font-family: "cursive";
  src: url("../fonts/cursive.ttf");
  font-style: normal;
  font-weight: 100;
}
/*
ADD CUSTOM STYLES IN YOUR DIV AREAS!
 */

 .exampleDiv {

   background-color: purple;
   margin:5px;
   padding:5px;
 }

 .alexDiv {
   background-color: SpringGreen;
   border: 1px solid blue;
   border-radius: 5px;
   padding: 5px;
   margin: 5px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .alexDiv img {
   width: 75%;
   min-height: 50%;
 }

 .alexDiv img, .alexDiv h1, .alexDiv a {
   margin: 5px;
   padding: 5px;
 }

 .allieDiv {
   background-color: blue;
   margin: 5px;
   padding:5px;

}
.allieDiv img {
  border-radius: 25px;
  height: 140px;
  width: 140px;



}

 .keriDiv {
  background-color: lightcoral;
  border: 2px solid purple;
  padding: 15px 0px 15px 0px;
 }
 .keriDiv h3 {
  color: purple;
  font-family: Times;
  font-size: 25px;
  font-weight: bold;
 }
 .keriDiv a {
  color: purple;
  font-family: Times;
  font-size: 18px;
  font-weight: bold;
 }
 .keriDiv img {
   border: 3px solid darkslategray;
   margin: 5px;
 }
 .chrisWilliamsDiv {


 }

 .larryDiv {
color: green;
font-style: italic;
font-size: 100%;
margin: auto;
 }
 .larryDiv img{width: 50%}

 .danteDiv {


 }

.nickDiv {


}

 .chaneyDiv {
   background-color: purple;
   margin:5px;
   padding:5px;

 }

 .docDiv {


 }

.calebDiv {


}

.keshaDiv {
 background-color: Dodgerblue;
 align: center;


}


.luzDiv {
  color: blue;
  font-size: 100%;
  font-family: sans-serif;
  margin: auto;
}
.luzDiv img {width: 25%;
}

.keshaDiv img {
background-color: Black;
margin: 30px;
padding: 30px;
}



.jamieciaDiv {background-color: purple;
  text-shadow: red;
  text-align: center;
  color: maroon;
  font-family: inherit;
}

.jasmineDiv {


}

.tneaDiv img {
  height: 300px;
  width: 275px;
}
.tneaDiv a {
color: #1BB39C;
background-color: pink;
border: ridge lightgrey 3px;
font-weight: bold;
}

.tneaDiv h1 {
  font-family: Helvetica;
  color: #1BB39C;
}


.carisaDiv {

  color: purple;
  background-color: lightcoral;
  border: 5px purple solid;
  

}

.cherylDiv {


}

.tezDiv {

}

.tezDiv img {
  height: 300px;
  width: 275px;
  border-radius: 30px;
  border-style: groove;
}

.tezDiv h1 {
  font-family: "turtles", "segoe script";
  color: green;
  weight: bold;

}

.tezDiv a {
  background-color: white;
  color: black;
  border-style: ridge;
  border-color: green;
  box-shadow: 0px 8px 16px 0px rgba(255,200,200,0.2);
}

.tezDiv a:hover {
  background-color: yellow;
  color: black;
  text-decoration: none;
}

.darrellDiv {


}
